                                                             /**********************************************
                                                                                GLOBAL 
                                                             **********************************************/


.menu__confirmation
{
    width: 0%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99e2d0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.menus__fond_blanc:hover .menu__confirmation
{
    width: 20%;
    height: 81px;
    animation: slide-left 0.5s ease-in-out both;
}

.menus__fond_blanc2:hover .menu__confirmation
{
    width: 20%;
    height: 81px;
    animation: slide-left 0.5s ease-in-out both;
}

.menu__icone_confirmation
{
    overflow: hidden;
    transform: rotate(180deg);
}

.menus__fond_blanc:hover .menu__icone_confirmation
{
    animation: rotate 0.5s ease-in-out both;
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    opacity: 1;
}

.menus__fond_blanc2:hover .menu__icone_confirmation
{
    animation: rotate 0.5s ease-in-out both;
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    opacity: 1;
}

.menus__fond_blanc:hover .menu__prix
{
    margin-right: 60px;
}

.menus__fond_blanc2:hover .menu__prix
{
    margin-right: 60px;
}

.menus__fond_blanc:hover .menus__texte--opacity
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menus__fond_blanc2:hover .menus__texte--opacity
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menu__Item__icon
{
    color: #99e2d0;
}

                                                             /**********************************************
                                                                                Version tablette 
                                                             **********************************************/

@media screen and (min-width: 767.99px) and (max-width: 1109.99px)
{
    .menus__fond_blanc:hover .menu__confirmation
    {
        width: 10%;
        /*margin-left: 81%;
        margin-bottom: 4.8%;*/
    }

    .menus__fond_blanc2:hover .menu__confirmation
    {
        width: 10%;
        /*margin-left: 81%;
        margin-bottom: 4.8%;*/
    }
}


                                                             /**********************************************
                                                                                Version ordinateur 
                                                             **********************************************/

@media screen and (min-width: 1110px)
{

    .menus__fond_blanc:hover .menu__confirmation
    {
        width: 4%;
        /*margin-left: 20.5%;
        margin-bottom: 2%;*/
    }

    .menus__fond_blanc2:hover .menu__confirmation
    {
        width: 4%;
        /*margin-left: 20.5%;
        margin-bottom: 2%;*/
    }
}