@keyframes spin 
{
    0%
    { 
        transform: rotate(0deg); 
    }

    100% 
    { 
        transform: rotate(360deg);
        opacity: 0;
    }
      
}

@keyframes loader 
    {
        100%
        {
            z-index: -10;
        }
    }

@keyframes remplissage
{
  0% 
  {
    opacity: 0;
  }

  100% 
  {
    opacity: 1;
  }
}

@keyframes fadein
{
    0% 
    {
        transform:scale(0);
    }

    100% 
    {
        transform:scale(1);
    }
}